
name: ci

on:
  push:
    branches: [ "main" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write
  packages: write

jobs:

  tests:
    strategy:
      matrix:
        name: [ unit ]
    runs-on: ubuntu-latest
    name: test (${{ matrix.name }})
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Login to GitHub Container Registry
        if: startsWith(github.ref, 'refs/tags/v')
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          make bdi

      - name: Tag and push Docker image to GHCR
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          # Tag with version and latest
          REPO_OWNER=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')
          docker tag andriykalashnykov/go-faces-http:latest ghcr.io/$REPO_OWNER/go-faces-http:${{ github.ref_name }}
          docker tag andriykalashnykov/go-faces-http:latest ghcr.io/$REPO_OWNER/go-faces-http:latest
          
          # Push both tags
          docker push ghcr.io/$REPO_OWNER/go-faces-http:${{ github.ref_name }}
          docker push ghcr.io/$REPO_OWNER/go-faces-http:latest

      # Steps below are only executed for tag pushes
      - name: Extract binary from Docker image
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          docker run -v $PWD:/opt/mount --rm --entrypoint cp andriykalashnykov/go-faces-http:latest /app/faces /opt/mount/faces
          TAG_NAME=${GITHUB_REF#refs/tags/}
          # Create both versioned and non-versioned archives
          tar zcvf ./linux_amd64.tar.gz ./faces
          tar zcvf ./${TAG_NAME}_linux_amd64.tar.gz ./faces

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/v')
        id: create_release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: |
            ./linux_amd64.tar.gz
            ./${{ github.ref_name }}_linux_amd64.tar.gz
          draft: false
          prerelease: false

      - name: Update Latest Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: ./linux_amd64.tar.gz
          tag_name: latest
          name: Latest Release
          draft: false
          prerelease: false